.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(20,20,20,0.5); /* usando corPreto com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
    z-index: 12;
}

/* Caixa do popup */
.overlay .popup {
    background-color: var(--corCinza);
    color: var(--corBranco);
    padding: 60px 70px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-family: 'Arial', sans-serif;
}

/* Ícone de check */
.overlay .popup .icon {
    font-size: 50px;
    color: var(--corVC);
    margin-bottom: 25px;
}

.overlay .popup h2 {
    font-size: 30px;
}
.overlay .popup p {
    font-size: 20px;
    width: 300px;
}

.overlay .pupup .icon img {
    width: 80px;
    height: 80px;
}

/* Botão */
.overlay .popup button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: var(--corVC);
    color: var(--corPreto);
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
}
.overlay .popup button:hover {
    background-color: var(--corVE);
}
